<footer class="site-footer text-center" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Your footer here
                {{ options.footer_info }}
                
                {% include 'partials/socials.twig' %}
            </div>
        </div>
    </div>
    
    <div class="footer-copy">
        <div class="container text-center text-md-start">
            <div class="row align-items-center">
                <div class="col-md-6 col-text">
                    {{ options.footer_copy }}
                </div>
                <div class="col-md-6 text-md-end">
                    <a class="credits" href="https://www.publifarm.it" target="_blank">
                        <img src="{{ theme.uri }}/dist/images/credits.svg" alt="credits">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
