{% extends "base.twig" %}


{% block content %}
    <div class="section-title">
        <h1>{{ post.title }}</h1>
    </div>
    
    <div class="section-text">
        {{ post.content }}
    </div>
{% endblock %}

