/******************************************************
    404 PAGE
 ******************************************************/

.page404 {
    padding: 15rem 0 10rem;

    .titolo_pb {
        margin-bottom: 3rem;
    }

    .wp-element-button {
        margin-top: 3rem;
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    .page404 {
        padding: 7rem 0;
    }
}
