/******************************************************
    404 PAGE
 ******************************************************/

#page-404 {
    padding: 15rem 0 10rem;

    .section-title {
        margin-bottom: 2rem;
    }

    .image {
        width: 30rem;
        margin-bottom: 3rem;
    }

    .wp-element-button {
        margin-top: 3rem;
    }
}

/******************************************************
    RESPONSIVE
 ******************************************************/

@media (max-width: 767px) {
    #page-404 {
        padding: 7rem 0;
    }
}
