/******************************************************
    BLOCK NEWS SECTION
 ******************************************************/

.block-news-section {
    padding: 8rem;
    background: rgba($black, 0.2);

    .wrap-cta {
        margin-top: 4rem;
    }
}
